<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antoski.movierecommendation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Movie Pal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/MoviePal_Label"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportProblem"
            android:label="@string/ReportProblem_hint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestCards"
            android:label="@string/title_activity_test_cards"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/Settings_Label"/>
        <activity
            android:name=".GenreActivity"
            android:screenOrientation="portrait"
            android:label="@string/SearchByGenre_Label"/>
        <activity android:name=".MoviesLikedActivity"
            android:label="@string/LikedLabel"/>
    </application>

</manifest>